<nav class="navbar">
  <div class="navbar-left">
  <%= image_tag "mamielogo.png", alt: "alttext", class: "logo" %>
  </div>
    <div class="navbar-right">
      <a href="#" class="nav-link">Inscrire mon grand parent du Grandbnb</a>
    </div>
  <div class="navbar-right">
    <button class="icon-button"><i class="fas fa-globe"></i></button>
    <button class="menu-button"><i class="fas fa-bars"></i></button>
    <button class="profile-button"><i class="fas fa-user-circle"></i></button>
  </div>
</nav>
