.navbar-lewagon {
  justify-content: space-between;
  background: white;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  margin-right: 40px;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
  margin-left: 60px;
}

// .search-item {
//   margin-right: 15px; /* Ajoute un espace entre les champs */
// }


.auth-container {
  max-width: 400px;
  margin: 5px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
label {
  text-align: left;
  font-weight: bold;
  margin-top: 5px;
}
select, input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.privacy-text {
  font-size: 12px;
  color: #666;
}
.btn-primary {
  background: linear-gradient(90deg, #E61E4D, #D70466);
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.btn-primary:hover {
  background: linear-gradient(90deg, #D70466, #9B0F44);
}
.divider {
  margin: 15px 0;
  color: #888;
  font-size: 14px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.logo {
  height: 70px;
}
.navbar-center {
  flex-grow: 1;
  text-align: center;
}
.nav-link {
  color: #333;
  text-decoration: none;
  margin-right: 20px;
  margin-top: 3px;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon-button, .menu-button, .profile-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #333;
}
.icon-button:hover, .menu-button:hover, .profile-button:hover {
  color: #E61E4D;
}

.search-bar {
  display: flex;
  align-items: center; /* Centre les éléments verticalement */
  background: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  gap: 10px; /* Espace entre les éléments */
  width: 514px;
}

.search-item {
  margin-right: 15px; /* Espace entre les champs */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   /* Centre le contenu verticalement */
}

.search-button-container {
  align-items: center;
}

.search-button {
  background: #e61e4d;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex; /* Utilisez flex pour centrer l'icône */
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  font-size: 18px;
  cursor: pointer;
  margin: 0; /* Supprimez les marges par défaut */
  border-top: 0; /* Supprimez les paddings par défaut */
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.search-button:hover {
  background: #d70466;
}
