<div class="search-bar">
  <div class="search-item">
    <label>Ville</label>
    <input type="text" placeholder="Rechercher une destination">
  </div>
  <div class="divider"></div>
  <div class="search-item">
    <label>Heure d'arrivée</label>
    <input type="text" placeholder="Quand ?">
  </div>
  <div class="divider"></div>
  <div class="search-item">
    <label>Heure du départ</label>
    <input type="text" placeholder="Quand ?">
  </div>
  <div class="divider"></div>
  <button class="search-button">
    <i class="fas fa-search"></i>
  </button>
</div>
